<p id="notice"><%= notice %></p>

<h1><strong>feeds</strong></h1>

<div class="panel panel-default">
      <table class="table" id="feed">
          <tbody>
          <%= render @feeds %>
          </tbody>
     
    </table>
</div>