<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table class="table table-striped table-bordered table-hover" id="task">
  <thead>
    <tr>
      <th>Description</th>
      <th>Company</th>
      <th>Completed on</th>
      <th>Created by</th>
      <th>Assign_to</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_company_task_path(@company), id: 'new_link', remote: true,'data-toggle': "modal",'data-target': "#myModal" %>
