<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a Customer Relationship Management App(CRM) for classpro</p>
  
  <p><%= link_to "Login", user_session_path,class:"btn btn-primary btn-lg" %></p>
</div>
