<div class="row">
  <div class="col-md-8">
    <div>
      <%= form_tag organizations_path, method: :get, class: "form-inline", id: "select_form", remote: :true do %>
          <div class="form-group">
              <%= select_tag "option", options_for_select(@opt.collect {|p| [ p['name'], p['id'] ] }, params[:option]) %>
          </div>
          <!-- <div class="form-group">
            <%= submit_tag "Search", class: "btn" %>
          </div> -->
        <% end %>
    </div>
    <br/>

    <div class="panel panel-default">
            <table id="organization-task" class="table table-striped table-bordered table-hover ">
              <tbody>
              <%= render partial: 'organizations/task', collection: @tasks %>
              </tbody>
           </table>
    </div>
  </div>
</div>
